html, body
  background none
  color $brand-primary
  font-family serif
  min-height 100%

html
  background-image url('/style/pattern.png')
  background-position center top
  background-size 60px 60px

.wrapper
  background-color $background-primary
  width 640px
  margin 35px auto 240px auto
  padding 15px
  border 5px solid $brand-highlight

* + *
  margin-top 1.5em

p
  text-align justify

  + p
    margin-top 0

p.large
  font-size 28px
  text-align center

li + li
  margin-top 0

.emblem
  width 100%

h1
  text-align center
  font-weight normal

label
  font-weight normal

input[type=text]
  border 0
  border-bottom 1px solid $brand-primary
  padding-left 10px
  padding-right 10px
  margin 3px
  border-radius 0
  
  &:focus
    outline 0

input[type=checkbox]
  display none
input[type=checkbox] + span
  display inline-block
  border 1px solid $brand-primary
  width 32px
  height 32px
  margin 5px 10px 15px 10px
  border-radius 16px
  cursor pointer
  vertical-align middle
  font-size 12px
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  text-align center
  line-height 32px
  &:before
    content 'NO'
input[type=checkbox]:checked + span
  background-color $brand-primary
  color white
  &:before
    content 'YES'
label span
  font-size 20px