html, body
  background none
  color $brand-primary
  font-family serif
  min-height 100%

body
  border 2vw solid $brand-highlight

html
  background-image url('/style/pattern.png')
  background-size 10vw 10vw

.wrapper
  margin -2vw

.nb-top
  background $background-primary
  clip-path polygon(50vw 0vw, 85vw 10vw, 85vw 16vw, 15vw 16vw, 15vw 10vw)
  height 15vw
  margin-top 7vw

.nb-section
  //border 10px solid $brand-highlight
  background $background-primary
  padding 1.5em 5vw
  margin 0 10vw
  //clip-path polygon(10vw -1%, 90vw -1%, 90vw 101%, 10vw 101%)

.nb-bottom
  background $background-primary
  clip-path polygon(85vw -1vw, 85vw 5vw, 50vw 15vw, 15vw 5vw, 15vw -1vw)
  height 15vw
  margin-bottom 7vw

.nb + .nb
  margin-top 0

.emblem
  width 100%
  height 15vw

* + *
  margin-top 1.5em

p
  text-align justify

  + p
    margin-top 0
    text-indent 2em

h1
  text-align center
  margin-top 10vw
  margin-bottom 5vw
  font-size 4vw
  font-weight normal

label
  font-weight normal

input[type=text]
  border 0
  border-bottom 1px solid $brand-primary
  padding-left 10px
  padding-right 10px
  margin 3px
  border-radius 0
  
  &:focus
    outline 0

input[type=checkbox]
  display none
input[type=checkbox] + span
  display inline-block
  border 1px solid $brand-primary
  width 32px
  height 32px
  margin 5px 10px 15px 10px
  border-radius 16px
  cursor pointer
  vertical-align middle
input[type=checkbox]:checked + span
  background-color $brand-primary
label span
  font-size 4vw

@media (min-width: 640px)
  h1
    margin-top 64px
    margin-bottom 32px
    font-size 25.5px

// .title
//   height 23.4vw
//   width 100vw

// @media (min-width: 640px)
//   .title
//     height 150px
//     width 640px