$brand-primary      = rgb(43, 108, 167)
$brand-secondary    = rgb(216, 34, 42)
$brand-tertiary     = rgb(61, 167, 43)
$brand-quaternary   = rgb(250, 221, 25)


$background-primary = rgb(255, 255, 255)
$background-inverse = rgb(8, 30, 54)

$foreground-primary = rgb(30, 27, 28)
$foreground-inverse = rgb(212, 212, 212)