$brand-primary      = #961C00
$brand-secondary    = #FA9F00
$brand-highlight    = #329A8B

$background-primary = rgb(255, 255, 255)

$foreground-primary = rgb(30, 27, 28)
$foreground-inverse = rgb(212, 212, 212)